{{define "form/hysteria"}}
<a-form layout="inline">
    <a-form-item label="version">
        <a-input-number v-model="inbound.settings.version" :min="1"></a-input-number>
    </a-form-item>
    <a-form-item label="auth">
        <a-input v-model.trim="inbound.settings.auth"></a-input>
    </a-form-item>
    <a-form-item label="level">
        <a-input-number v-model="inbound.settings.level" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item label="email">
        <a-input v-model.trim="inbound.settings.email"></a-input>
    </a-form-item>
</a-form>
{{end}}
