{{define "inboundModal"}}
<a-modal id="inbound-modal" v-model="inModal.visible" :title="inModal.title" @ok="inModal.ok"
         :confirm-loading="inModal.confirmLoading" :closable="true" :mask-closable="false"
         :ok-text="inModal.okText" cancel-text='{{ i18n "close" }}'>
    {{template "form/inbound"}}
</a-modal>
<script>
    const availableCoreTypes = [
        {{- range $index, $coreType := .availableCoreTypes }}
        {{- if $index }},{{ end }}
        { value: '{{ $coreType }}', label: '{{ $coreType }}' }
        {{- end }}
    ];
    const defaultCoreType = '{{ .defaultCoreType }}';

    const inModal = {
        title: '',
        visible: false,
        confirmLoading: false,
        okText: '确定',
        confirm: null,
        inbound: new Inbound(),
        dbInbound: new DBInbound(),
        ok() {
            ObjectUtil.execute(inModal.confirm, inModal.inbound, inModal.dbInbound);
        },
        show({ title='', okText='确定', inbound=null, dbInbound=null, confirm=(inbound, dbInbound)=>{} }) {
            this.title = title;
            this.okText = okText;
            if (inbound) {
                this.inbound = Inbound.fromJson(inbound.toJson());
            } else {
                this.inbound = new Inbound();
            }
            if (!availableCoreTypes.some(item => item.value === this.inbound.coreType)) {
                this.inbound.coreType = defaultCoreType;
            }
            if (dbInbound) {
                this.dbInbound = new DBInbound(dbInbound);
            } else {
                this.dbInbound = new DBInbound();
            }
            this.confirm = confirm;
            this.visible = true;
        },
        close() {
            inModal.visible = false;
            inModal.loading(false);
        },
        loading(loading) {
            inModal.confirmLoading = loading;
        },
    };

    const protocols = {
        VMESS: Protocols.VMESS,
        VLESS: Protocols.VLESS,
        HYSTERIA2: Protocols.HYSTERIA2,
        TROJAN: Protocols.TROJAN,
        SHADOWSOCKS: Protocols.SHADOWSOCKS,
        DOKODEMO: Protocols.DOKODEMO,
        SOCKS: Protocols.SOCKS,
        HTTP: Protocols.HTTP,
    };
    const hasSingboxCore = availableCoreTypes.some(item => item.value === 'sing-box');
    const protocolOptions = [
        protocols.VMESS,
        protocols.VLESS,
        ...(hasSingboxCore ? [protocols.HYSTERIA2] : []),
        protocols.TROJAN,
        protocols.SHADOWSOCKS,
        protocols.DOKODEMO,
        protocols.SOCKS,
        protocols.HTTP,
    ];

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#inbound-modal',
        data: {
            inModal: inModal,
            Protocols: protocols,
            protocolOptions: protocolOptions,
            SSMethods: SSMethods,
            coreTypeOptions: availableCoreTypes,
            get inbound() {
                return inModal.inbound;
            },
            get dbInbound() {
                return inModal.dbInbound;
            }
        },
        watch: {
            'inModal.inbound.protocol': {
                handler(value) {
                    if (value === Protocols.HYSTERIA2 && hasSingboxCore) {
                        this.inModal.inbound.coreType = 'sing-box';
                        if (ObjectUtil.isEmpty(this.inModal.inbound.stream.tls.server)) {
                            this.inModal.inbound.stream.tls.server = HY2_SELF_SIGNED_SNI;
                        }
                    }
                    this.ensureInboundCoreType();
                },
                immediate: true,
            },
            'inModal.inbound.coreType'() {
                this.ensureInboundCoreType();
            },
        },
        computed: {
            filteredCoreTypeOptions() {
                if (this.inbound.protocol === Protocols.HYSTERIA2) {
                    return this.coreTypeOptions.filter(item => item.value === 'sing-box');
                }
                return this.coreTypeOptions;
            },
        },
        methods: {
            streamNetworkChange(oldValue) {
                if (oldValue === 'kcp') {
                    this.inModal.inbound.tls = false;
                }
            },
            ensureInboundCoreType() {
                const options = this.filteredCoreTypeOptions;
                if (options.length === 0) {
                    return;
                }
                if (!options.some(item => item.value === this.inbound.coreType)) {
                    this.inbound.coreType = options[0].value;
                }
            },
        }
    });

</script>
{{end}}
